# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/
.history/
*.code-workspace

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# 仮想環境
venv/
env/
ENV/

# フォルダ整理用スクリプト
foldermaster.py

# アプリケーション固有
setting/
data/
test_figs/

SaitenGiri2021.spec
